@page
@model WebBlog.RazorPages.Pages.Blog.IndexModel
@{

    Layout = "_Layout";
}
<div class="container">
    <div class="header">
        <a href="/Blog/Create" class="create-post-link">Bạn đang nghĩ gì?</a>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="main-content" id="post-container">
                <!-- Các bài viết -->
                
            </div>
            <div class="pagin" id="pagination"></div>
        </div>
    </div>
</div>
@{
    <script type="module" src="~/js/blog/index.js"></script>
}