@page
@model WebBlog.RazorPages.Pages.Auth.ResetPasswordModel
<div class="page-wrapper">
    <div class="auth-container">
        <div class="form">
            <div class="form-box reset">
                <span class="title">Khôi phục mật khẩu</span>
                <form id="resetForm">
                      <div class="input-box">
                        <input id="userName" type="text" name="UserName" placeholder="Nhập lại tên tài khoản" required />
                    </div>
                    <div class="input-box">
                        <input id="password" type="password" name="Password" placeholder="Nhập mật khẩu" required />
                    </div>
                    <div class="input-box">
                        <input id="ConfirmPassword" type="password" name="ConfirmPassword" placeholder="Nhập lại mật khẩu" required />
                    </div>
                    <div class="input-box ResetButton">
                        <input type="submit" value="Gửi" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="/js/auth/ResetPassword.js"></script>
}



